:root {
    --col1: #CDD5C6;
    --col2: #FBF2ED;
    --col3: #B7BCBF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto;
   background-color: var(--col1);
}

#human-choice{
    grid-column: 2/ 12;
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem;
}

#header {
    grid-column: 4 / 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0.5rem;
}

#reset {
    grid-column: 6 / 8;
    grid-row: 6 / 7;
}

.score-box {
    grid-column: 3 / 11;
    grid-row:3/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}

#win {
   color: rgb(156, 9, 9);
   font-size: 4rem;
}

#gameOver {
    color: rgb(156, 9, 9);
    font-size: 4rem;
    grid-column: 2 / 12;
    text-align: center;
}


.human-score, .computer-score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.score {
    font-size: 1.6rem;
    color: red;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    
}

.btn {
    padding: 0.5rem 0.6rem;
    background-color: var(--col2);
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
}

.btn:hover{
    transform: translateY(-5px);
}

.btn:active{
    transform: translateY(10px);
}

.btn:hover, .btn:active {
    transition-duration: 1000ms;
}